.admin {
  &__form {
    margin-bottom: 7px;
    &__buttons {
      display: flex;
    }
    &__textArea {
      display: flex;
      height: 300px;
      width: 600px;
      textarea {
        width: 100%;
        margin-bottom: 15px;
      }
    }
    &__title {
      display: flex;
      height: 40px;
      width: 300px;
      margin-bottom: 20px;
      input {
        width: 100%;
      }
    }
    &__image {
      .thumbnails {
        max-width: 100px;
      }
      .img-selection {
        &__radio {
          // position: absolute;
          // opacity: 0;
          // width: 0;
          // height: 0;
        }
        &__radio + &__btn {
          cursor: pointer;
        }
        &__radio:checked + &__btn {
          outline: 2px solid #f00;
        }
      }
    }
    }
  }
