.help {
  height: 70px;
  width: 100px;
  padding-top: 10px;
  background-color: black;
  color: white;
  position: fixed;
  top: -10px;
  margin-left: 90vw;
  border-radius: 20%;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  border: none;
  cursor: pointer;
}

.help a {
  text-decoration: none;
  color: white;
}

.button {
  min-width: 60px;
  height: 40px;
  letter-spacing: 0.5px;
  font-size: 15px;
  background-color: rgba(22, 14, 14, 0.899);
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  border: none;
  cursor: pointer;
}

.button a {
  min-height: 100%;
  color: white;
  text-decoration: none;
}

.abort:hover {
  background-color: rgba(184, 29, 29, 0.728);
}

.edit:hover {
  background-color: rgba(233, 142, 31, 0.728);
}

.submit {
  margin-right: 5px;
}

.submit:hover {
  background-color: rgba(38, 179, 73, 0.728);
}

.addImg {
  margin-bottom: 5px;
}

.addImg:hover {
  background-color: rgba(11, 108, 235, 0.728);
}

.unpublished {
  background-color: rgba(184, 29, 29, 0.728);
}

.unpublished:hover {
  background-color: rgba(184, 29, 29, 0.865);
}

.published {
  background-color: rgba(38, 179, 73, 0.728);
}

.published:hover {
  background-color: rgba(38, 179, 73, 0.844);
}

.publish {
  padding: 0;
}

.publish a {
  height: 100%;
  color: black;
  text-decoration: none;
}

.img-selection__btn1 {
  width: 80px;
  margin-bottom: 8px;
  height: 20px;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-selection__btn1:hover {
  background-color: rgba(184, 29, 29, 0.865);
}

.img-selection {
  height: 100%;
  width: 100%;
}

.hidden__images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100px)[5];
      grid-template-columns: repeat(5, 100px);
  grid-auto-flow: row;
  grid-auto-rows: 100px;
  grid-gap: 15px;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 15px;
  height: 140px;
  overflow: scroll;
}

.admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ebe8e8;
  height: 100vh;
  margin: auto;
  min-height: 800px;
}

@media (min-width: 1200px) {
  .admin {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.admin_card {
  margin-top: 50px;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(174, 174, 174, 0.591);
          box-shadow: 2px 2px 2px 2px rgba(174, 174, 174, 0.591);
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  margin: 50px 10px;
}

.upload {
  height: 60px;
}

.createUpload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1200px) {
  .createUpload {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.hidden {
  position: absolute;
  opacity: 0;
  z-index: -2;
}

[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type="radio"] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type="radio"]:checked + img {
  outline: px solid rgba(11, 108, 235, 0.728);
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.admin__form {
  margin-bottom: 7px;
}

.admin__form__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.admin__form__textArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  width: 600px;
}

.admin__form__textArea textarea {
  width: 100%;
  margin-bottom: 15px;
}

.admin__form__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 300px;
  margin-bottom: 20px;
}

.admin__form__title input {
  width: 100%;
}

.posts {
  margin-top: 10em;
}

.posts table {
  border: none;
  text-align: center;
}

.posts table th {
  background-color: #111812;
  color: white;
  width: 120px;
}

.posts table th:first-of-type {
  width: 40px;
}

.posts table th:nth-of-type(2) {
  width: 40px;
}

.posts table th:nth-of-type(4) {
  width: 200px;
}

.posts table td {
  height: 80px;
}

.posts table tr:hover {
  background-color: #f5f5f5;
}

.posts__header {
  margin-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */