body {
  background: #63c88f24;
  font-family: 'Poppins', sans-serif;
}

.main {
  &__hero {
    &__img {
      max-width: 100%;
      object-fit: cover;
    }
  }
  &__content {
  max-width: 80vw;
  margin: 2em auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, auto) 2fr;
  gap: 20px; 
  }
}

.image-wrapper {
  position: relative;
  height: 100%;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  &__img {
    display: block;
    object-position: center center;
    object-fit: contain;
    // position: absolute;
    height: 100%;
    width: 100%;
    max-height: 300px;
    max-width: 100%;
  }
}
.map {
  width: 600px;
  height: 450px;
  border:0;
}