.posts-section {
  min-width: 500px;
  border: 1px solid;
  background: white;
  grid-row: span 3;
  .post {
    padding: 2em 3em 0 3em;
    background: white;
    &__header {
      margin-bottom: 2em;
      &__title {
        font-size: 2em;
        font-weight: $font--bold;
      }
      &__date {
        color: rgb(163, 163, 163);
      }
    }
    &__text {
      margin: 2em 0px;
      p {
        margin-bottom: 1em;
      }
      
    }
    &__embed {
      display: flex;
      &__item {
        min-width: 75%;
        min-height: 300px;
        border: 0;
        margin: auto;
      }
    }
    .line {
      &__start {
        height: 1px;
        width: 100%;
        background: rgb(235, 235, 235);
      }
      &__end {
        height: 1px;
        width: 100%;
        background: rgb(235, 235, 235);
        margin-top: 2em;
      }
    }
  }
}