.posts-section {
  background: white;
  max-width: 700px;
  margin: 5vh auto 2vh auto;
  padding: 0 2em;
  border-radius: 20px;
  .post {
    padding-top: 2em;
    &__header {
      margin-bottom: 2em;
      &__title {
        font-size: 2em;
      }
      &__date {
        color: rgb(163, 163, 163);
      }
    }
    &__text {
      margin-top: 2em;
    }
    &__embed {
      display: flex;
      &__item {
        min-width: 500px;
        min-height: 380px;
        border: 0;
        margin: auto;
      }
    }
    .end-line {
      height: 1px;
      width: 100%;
      background: rgb(235, 235, 235);
      margin-top: 2em;
    }
  }
}